.our-services {
   margin-top: 100px;
}

.our-services-title {
   text-align: center;
   font-family: "vazir";
   color: var(--primary);
   position: relative;
}

.our-services-line {
   width: 120px;
   height: 5px;
   border-radius: 50%;
   background-color: var(--primary);
   margin: 3px auto 20px auto;
}

.our-services-text {
   text-align: center;
   font-family: "vazir";
}

.product-newest-link {
   text-decoration: none;
   text-align: center;
   max-width: 200px;
}
