.hamber-menu {
   direction: rtl;
   background-color: var(--primary);
   position: absolute;
   top: 0;
   right: -100%;
   z-index: 999;
   width: 250px;
   height: 350px;
   border-top-left-radius: 150px;
   border-bottom-left-radius: 250px;
   transition: all 0.5s;
}

.hamber-menu-logo {
   width: 100px;
   height: 100px;
   object-fit: contain;
   margin: 20px 20px 0 0;
}

.hember-menu__list {
   padding-right: 30px;
   list-style: none;
}

.hamber-menu__items {
   padding-bottom: 10px;
}

.hamber-menu__link {
   color: var(--icon-color);
   text-decoration: none;
   font-family: "vazir";
}

.hamber-menu__open {
   right: 0;
}

.hember-menu-closer {
   color: var(--icon-color);
   width: 30px;
   height: 30px;
   transform: rotate(180deg);
   display: block;
   margin-right: auto;
   margin-left: 40px;
   border-radius: 3px;
}

.hamber-menu__select {
   position: relative;
   font-family: "vazir";
   background-color: transparent;
   border: none;
   color: var(--icon-color);
   font-size: 16px;
}

.hamber-menu__select--icon {
}

.hamber-menu__options {
   position: absolute;
   background-color: var(--icon-color);
   right: 0;
   left: 0;
   text-align: start;
   border: 1px solid var(--primary);
   border-radius: 5px;
}

.hamber-menu__option {
   color: var(--primary);
   padding: 7px;
}
