/* social */

.social {
   background-color: var(--primary);
   height: 50px;
}

.social-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.social_icons {
   display: flex;
   gap: 25px;
}

.social-nav__link {
   color: var(--icon-color);
   font-size: 20px;
}

.social-nav__link:hover {
   color: var(--icon-color);
}

.social-nav_icon {
   transition: all 0.2s;
}

.social-nav_icon:hover {
   transform: scale(0.8);
   color: rgb(217, 194, 228);
}

.address-phone {
   color: var(--icon-color);
   display: flex;
   gap: 80px;
   height: 100%;
   align-items: center;
}

.address-text,
.phone-text {
   font-family: "vazir";
}

.address-icon,
.phone-icon {
   margin-left: 8px;
}

/* menu */

.menu {
   display: flex;
   justify-content: space-between;
   height: auto;
   align-items: center;
   padding: 15px;
}

.menu-leftSide {
   list-style: none;
   display: flex;
   gap: 20px;
}

.menu-leftSide__items {
   width: 35px;
   height: 35px;
}

.menu-leftSide__btn {
   width: 100%;
   height: 100%;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.2s;
}

.menu-leftSide__icon {
   font-size: 19px;
   color: var(--primary);
   transition: all 0.2s;
}

.menu-leftSide__btn:hover {
   background-color: var(--primary);
}

.menu-leftSide__btn:hover .menu-leftSide__icon {
   color: var(--icon-color);
}

.menu-rightSide {
   list-style: none;
   display: flex;
   align-items: center;
   display: flex;
   gap: 30px;
}

.menu-rightSide__items {
   font-family: "vazir";
}

.menu-rightSide__link {
   text-decoration: none;
   color: var(--primary);
   transition: all 0.05s;
   padding: 5px 0;
}

.menu-rightSide__link:hover {
   border-bottom: 3px solid var(--primary);
   border-radius: 5px;
}

.menu-logo {
   width: 100px;
   height: 80px;
}
