/* social */

.social {
   background-color: var(--primary);
   height: 50px;
}

.social-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.social_icons {
   display: flex;
   gap: 25px;
}

.social-nav__link {
   color: var(--icon-color);
   font-size: 20px;
}

.social-nav__link:hover {
   color: var(--icon-color);
}

.social-nav_icon {
   transition: all 0.2s;
}

.social-nav_icon:hover {
   transform: scale(0.8);
   color: rgb(217, 194, 228);
}

.address-phone {
   color: var(--icon-color);
   display: flex;
   gap: 80px;
   height: 100%;
   align-items: center;
}

.address-text,
.phone-text {
   font-family: "vazir";
}

.address-icon,
.phone-icon {
   margin-left: 8px;
}

/* menu */

.menu {
   display: flex;
   justify-content: space-between;
   height: auto;
   align-items: center;
   padding: 15px;
}

.menu-leftSide {
   list-style: none;
   display: flex;
   gap: 20px;
}

.menu-leftSide__items {
   width: 35px;
   height: 35px;
   position: relative !important;
}

.menu-leftSide__btn {
   width: 100%;
   height: 100%;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.2s;
   font-family: "vazir";
}

.menu-leftSide__icon {
   font-size: 19px;
   color: var(--primary);
   transition: all 0.2s;
}

.menu-leftSide__btn:hover {
   background-color: var(--primary);
   color: var(--icon-color);
}

.menu-leftSide__btn:hover .menu-leftSide__icon {
   color: var(--icon-color);
}

.menu-rightSide {
   list-style: none;
   display: flex;
   align-items: center;
   display: flex;
   gap: 30px;
}

.menu-rightSide__items {
   font-family: "vazir";
}

.menu-rightSide__link {
   text-decoration: none;
   color: var(--primary);
   transition: all 0.05s;
   padding: 5px 0;
}

.menu-rightSide__link:hover {
   border-bottom: 3px solid var(--primary);
   border-radius: 5px;
}

.menu-logo {
   width: 100px;
   height: 80px;
}

.menu-opener {
   display: none;
   width: 35px;
   height: 35px;
   border: none;
   border-radius: 5px;
   font-size: 26px;
}

.menu-rightSide__items .active {
   border-bottom: 3px solid var(--primary);
   border-radius: 5px;
}

.menu-rightSide__select {
   font-family: "vazir";
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-size: 16px;
   color: var(--primary);
   position: relative;
}

.menu-rightSide__select--icon {
   transition: all 0.3s;
}

.menu-rightSide__options {
   position: absolute;
   z-index: 20;
   right: 0;
   left: 0;
   background-color: var(--icon-color);
   text-align: end;
   /* border: 1px solid var(--primary); */
   border-radius: 5px;
   display: none;
   box-shadow: 0px 0px 15px 1px var(--primary);
}

.menu-rightSide__option {
   padding: 10px 10px;
   transition: all 0.2s;
}

.menu-rightSide__select:hover .menu-rightSide__options {
   display: block;
}

.menu-rightSide__option:hover {
   background-color: var(--primary);
   color: var(--icon-color);
}

.menu-rightSide__select:hover .menu-rightSide__select--icon {
   transform: rotate(-180deg);
}

.menu-leftSide__form {
   position: absolute;
   bottom: -40px;
   left: 0;
   z-index: 999;
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
   transition: all 0.2s;
   transform-origin: top left;
   transform: scale(0);
}

.menu-leftSide__form--active {
   transform: scale(1);
}

.menu-leftSide__serach-input {
   border: 1px solid var(--primary);
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   padding: 8px 10px;
   background-color: var(--icon-color);
   font-family: "vazir";
   color: var(--primary);
   direction: rtl;
}

.menu-leftSide__serach-input:focus {
   outline: none;
}

.menu-leftSide__submite-btn {
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   background-color: var(--primary);
   color: var(--icon-color);
   border: 1px solid var(--primary);
   padding: 6px 5px;
   cursor: pointer;
   font-family: "vazir";
   transition: all 0.2s;
}

.menu-leftSide__submite-btn:hover {
   background-color: var(--icon-color);
   color: var(--primary);
}
