.dashboard-main {
   font-family: "vazir";
   margin-top: 50px;
}

.dashboard-collapser {
   text-align: center;
   font-size: 30px;
}

.dashboard-collapser__icon {
   color: var(--primary);
}

.dashboard-main__img {
   height: 250px;
   width: 250px;
   border-radius: 50%;
   object-fit: cover;
   display: block;
   margin: 0 auto;
}

.dashboard-main-explain {
   display: flex;
   flex-direction: column;
   height: 100%;
   gap: 30px;
   justify-content: center;
}

.dashboard-main__title,
.dashboard-main__text {
   text-align: center;
   direction: rtl;
   color: var(--primary);
}
