:root {
   --primary: #29237a;
   --secondary: #4e4999;
   --icon-color: #fff;
   --section-bg: rgba(75, 70, 144, 0.137);
   --alerts-bg: #f0dda1;
   --submit-bg: #27a243;
}

@font-face {
   font-family: "vazir";
   src: url(../public/fonts/Vazir.woff2);
}

@font-face {
   font-family: "vazir-bold";
   src: url(../public/fonts/Vazir-Bold.woff2);
}

#root {
   position: relative;
   overflow: hidden;
}
