@media (max-width: 400px) {
   .address-phone {
      display: none !important;
   }

   .social-nav {
      justify-content: center !important;
   }

   .account-input {
      padding: 7px;
   }
}

@media (max-width: 576px) {
   .swiper-button-prev,
   .swiper-button-next {
      width: 20px !important;
      height: 20px !important;
   }

   .swiper-button-next::after,
   .swiper-button-prev::after {
      font-size: 10px !important;
   }

   .swiper-pagination-bullet {
      width: 10px !important;
      height: 10px !important;
   }

   .account-input__holder {
      width: auto !important;
   }

   .account-input {
      width: 180px !important;
   }

   .account-input__label {
      font-size: 12px !important;
   }

   .account-login__title {
      font-size: 20px;
   }

   .bsket-card {
      margin-right: 15px !important;
      margin-left: 15px !important;
   }
}

/* md */

@media (max-width: 768px) {
   .address-text {
      display: none;
   }

   .menu-rightSide {
      display: none !important;
   }

   .menu-opener {
      display: block !important;
   }

   .account-login-part {
      align-items: center;
   }

   .account-row {
      justify-content: center;
   }

   .dashboard-collapse {
      margin: 0 20px !important;
   }

   .account-left-img {
      display: none;
   }
}

/* lg */

@media (max-width: 992px) {
   .address-phone {
      gap: 25px !important;
   }

   .menu-logo {
      display: none;
   }

   .account-login-part {
      padding-right: 0 !important;
   }

   .dashboard-side {
      display: none;
   }

   .dashboard-main__img {
      display: none !important;
   }
}

/* xl */

@media (max-width: 1200px) {
}

/* xxl */

@media (max-width: 1400px) {
   .dashboard-sidebar__items {
      width: 70% !important;
   }

   .active {
      width: 100% !important;
   }
}

/* //////////////////////////////////////////////////////// */

@media (min-width: 576px) {
}

/* md */

@media (min-width: 768px) {
   .hamber-menu {
      display: none !important;
   }

   .add-product {
      padding: 100px !important;
   }

   .edit-modal .add-product-form {
      width: 600px;
   }

   .basket-title {
      padding-top: 100px;
   }
}

/* lg */

@media (min-width: 992px) {
   .dashboard-collapse {
      display: none;
   }

   .home-aboute {
      margin-top: 100px !important;
   }

   .home-aboute-describtion {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .basket-img {
      max-height: 255px;
      max-width: 323px;
   }

   .bsket-card {
      max-width: 720px;
      margin-right: auto !important;
      margin-left: auto !important;
   }
}

/* xl */

@media (min-width: 1200px) {
   .add-product {
      padding: 100px 200px !important;
   }

   .footer-main {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
   }

   .footer-contact__link-wrapper {
      flex-direction: row !important;
   }

   .footer-copy-right {
      padding-top: 100px;
   }
}

/* xxl */

@media (min-width: 1400px) {
}
